/*  Definicion de la paleta de colores 

#ffeeee
#F18595
#6a0120
#ff004e
#4b4949
#4b494911;

display: flex; 
align-items: stretch;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 2%;
    border-radius: 30%;
}

body {
    position: relative;
    top: 0;
    font-family: "Hind Mysuru", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.marquesina{
    width: 100%;
    overflow: hidden;
    background-color: black; 
    color: white;
    height: 40px;
    display: flex;
    align-items: center;

    .mensajes{
        display: flex;
        animation: desplazar 40s linear infinite ; 
    }

    .mensaje{
        flex: none;
        padding: 0 24%;
        white-space: nowrap;
        color: white;
        font-size: 1.2em;
        font-weight: 800;
    }

}

@keyframes desplazar {
    0%{
        transform: translateX(100%);
    }
    10% {
        transform: translateX(60%);
    }
    20% {
        transform: translateX(20%);
    }
    30% {
        transform: translateX(-20%);
    }
    40% {
        transform: translateX(-60%);
    }
    50% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-60%);
    }
    70% {
        transform: translateX(-140%);
    }
    80% {
        transform: translateX(-180%);
    }
    90% {
        transform: translateX(-220%);
    }
    100% {
        transform: translateX(-280%);
    }
}

.pre-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f18595;
    padding: 1%;

    .telphones > b {
      font-size: 1.2rem;
      color: #000000;
    }

    .social_net_black {
      display: flex;
      list-style: none;
      margin-right: 20px;
      li {
        margin: 0 20px;
      }
    }
  }
  .header {
    background-color: #ffeeee;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .ola {
    height: 150px;
    overflow: hidden;
}

.header .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;

    .logo {
      text-align: center;
      padding: 0.8%;
      flex-grow: 1;
    }

    .logo img {
      width: 160px;
      margin: 0 auto;
      border-radius: 30%;
    }
}

.header .container .menu {
    text-align: center;
    padding: 0.8%;
    flex-grow: 10;
}

.header .container .buscador {
    text-align: center;
    padding: 0.5%;
    flex-grow: 1;
    list-style: none;
}
   
.item > li {
    display: inline-block;
    padding: 0% 4%;
    list-style: none;
    font-size: 24px;
  }
  .item > li a {
    color: #000000;
    text-decoration: none;
}

.item > li :hover {
    color: #ff004e;
    font-size: 19px;
    text-shadow: #ffd1dc 4px 6px;
    font-weight: 400;
    text-decoration: underline;
}

.buscando{
  cursor:pointer;
}

.buscarOculto {
    padding: 0;
    width: 0;
    border: none;
    outline: none;
    transition: all 0.5s linear;
}

.buscarVisible {
    width: auto;
    margin-right: 10px;
    border-radius: 8%;
    border: none;
    outline: none;
    padding: 10px;
    transition: all 0.5s linear;
}

.whoweare {
    font-size: 30px;
    font-weight: 400;
    padding: 0.5% 5% 4%;
    color: #6a0120;
}

/*-------------------secccion principal--------------------------*/

.main > .container_p {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; /*Escala la imagen pero sin estirarla*/
    background-attachment: fixed;
    background-position: center;
    padding: 0.1px;
    overflow-y: scroll; /*Recorta y coloca un scroll en el eje y*/
    background-image: linear-gradient(
        20deg,
        rgba(235, 222, 226, 0.54) 40%,
        rgba(75, 73, 73, 0.34) 40%,
        rgba(241, 133, 149, 0.47) 20%
      ),
      url(../images/handbag.jpg);

      padding-bottom: 2%;
}

.main h1 {
  width: 100%;
  padding: 1%;
  font-size: 52px;
  font-weight: 500;
  margin-top: 0.5%;
  padding: 0 4%;
}

.main .container_p .offert {
    width: 100%; /*em->medida en base a la fuente: 16px*/
    font-size: 1.5rem;
    padding: 1%;
    text-align: justify;
    padding: 0 4% 1%  ;
}

.main .container_p .container_button {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}


.container_button .button_lp {
    padding: 20px;
    background-color: #4b4949;
    border: 1px solid #4b4949;
    border-radius: 5%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    /*
      Propiedad que quiero transicionar
   
    transition-property: all; /*all, o por propiedad
    transition-duration: 3s;
    transition-timing-function: ease; por defect
    transition-delay: 0s; por defecto
    */
   
    transition: all 1s ease 0.2s;
}

  .container_button .button_lp:hover {
    background-color: #ff004e;
    border: 1px solid #ff004e;
    color: black;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s;
}
 
  /*Secciones*/

  .containers {
    padding: 2%;

}

  .container_up {
    text-align: right; /* Alinea el contenido a la derecha */
}
  
.up {
    width: 20%;
    margin-top: 2%;
    padding: 20px;
    background-color: #ffd1dc;
    border: 1px solid #ffd1dc;
    border-radius: 5%;
    color: #4b4949;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

  .up:hover {
    background-color: #ff004e;
    border: 1px solid #ff004e;
    color: #ffffff;
    cursor: pointer;
}

.subTitle {
    font-size: 34px;
    color: #4b4949;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 2%;
    border-bottom: 2px solid #ff004e;
}

.rojo_text {
    color: #ff004e;
    font-size: 45px;
}

/**********************Products******************************************/
.card-header {
    background-color: #f18595;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
  .card_body {
    width: 24%;
    min-height: 250px;
    margin-top: 1%;
    margin-right: 0.5%;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, #ff004e, #6a0120);
    color: #ffeeee;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card_body:hover {
    background-color: #4b494911;
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  .card_body > li {
    list-style: none;
  }
  .card_details {
    padding: 1.5%;
  }
  .card_container_button {
    text-align: center;
  }
  .card_button {
    padding: 2%;
    margin: 1.5%;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    background-color: white;
    color: #6a0120;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .card_button:hover {
    border: 1px solid #060606;
    transition: all 0.3s ease;
  }
  .container_services {
    background-color: #4b494911;
    padding: 3%;
    padding-bottom: 8%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }
  /**********************************services***********************************************/
  .service {
    max-width: 33%;
    max-height: 290px;
    display: inline-block;
    overflow-y: hidden;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 2%;
    transition: all 1s ease 0.1s;
  }
  .img_people {
    width: 20%;
    border-radius: 50%;
    margin-right: 4%;
    margin-top: 2%;
    float: right;
  }
  .subTitle_services {
    border-bottom: 0px;
    text-align: left;
    width: 40%;
  }
  .service > i {
    font-size: 50px;
  }
  .service .subService {
    margin-top: 3%;
    margin-bottom: 2%;
    color: #ff004e;
    font-size: 24px;
  }
  .service:hover {
    background-color: #ffeeee;
    cursor: pointer;
    transition: all 1s ease 0.1s;
  }
  .service > p {
    font-size: 20px;
  }
  /**************************Contact***************************/
  .container_contact {
    margin-bottom: 2%;
  }
  .form {
    width: 40%;
    height: auto;
    display: inline-block;
    padding: 20px 5px;
    text-align: center;
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #e0e0e0; /* Borde gris claro */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1); /* Sombra inicial */
  }
  .form * {
    display: inline-block;
    width: 85%;
    margin: 1% 0;
    font-size: 20px;
  }
  .form > h3 {
    font-size: 24px;
  }
  .form > input {
    padding: 10px 2px;
    border: none;
    border-bottom: 1px solid #ff004e;
    outline: none;
  }
  .form > label {
    text-align: left;
    padding: 5px;
  }
  .labelPolitica {
    width: 50%;
    display: inline-block;
  }
  /*
  CheckBox*/
  input[type="checkbox"] {
    visibility: hidden;
  }
  .check {
    display: inline-block;
    position: relative;
    margin: 3%;
    width: 24%;
    height: 40px;
    background: #ff004e;
    border-radius: 10px;
  }
  .check label {
    /* aspecto */
    display: block;
    width: 40%;
    height: 70%;
    border-radius: 17px;
    box-shadow: 0px 2px 5px 0px #00000059;
    background: #fcfff4;
    background: linear-gradient(to top, #fcfff4 3%, #d9d8d2 40%, #b3bead 100%);
    cursor: pointer;
    /* Posicionamiento */
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    /* Comportamiento */
    transition: all 1.5s ease;
  }
  .check input[type="checkbox"]:checked + label {
    left: auto;
    right: 8px;
  }
  .check:after {
    content: "NO";
    font: 14px/30px Arial, sans-serif;
    color: #ffd1dc;
    margin: 2%;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
  }
  .check:before {
    content: "SI";
    font: 14px/30px Arial, sans-serif;
    margin: 2%;
    color: #ffd1dc;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
  }
  .button_send,
  .button_clear {
    display: inline;
    width: 30%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 4%;
    background-color: #ffd1dc;
    border: 1px solid #ffd1dc;
    border-radius: 5%;
    color: #4b4949;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
  }
  .is-valid {
    background-color: #ffd1dc !important;
    border-bottom: 1px solid #1d8bf1 !important;
  }
  .is-invalid {
    border-bottom: 5px solid #f81818 !important;
  }
  .elemets_contacts {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}
   
/*************History***************************/
.container_history {
    background-color: #4b494911;
    padding: 3%;
    padding-bottom: 8%;
    clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
  }
  .text_history {
    font-size: 22px;
    padding: 3%;
  }
  .subTitle_history {
    display: inline-block;
    margin-bottom: 0.1%;
    border-bottom: 0px;
    text-align: left;
    width: 20%;
  }
  .img_women {
    width: 20%;
    border-radius: 50%;
    margin-right: 4%;
    margin-top: 2%;
    float: right;
  }
  /***************************A cerca de ....****************************************/
  .container_acercade {
    width: 100%;
    font-size: 20px;
    padding: 20px;
    margin-top: 2%;
  }
   
  /*****************************footer*************************************************/
  .footer {
    width: 100%;
    background: #4b4949;
    color: #ffffff;
    overflow-x: auto;
  }
  .footer .container_footer_social {
    padding-top: 2%;
    text-align: center;
    margin: 2%;
    h2 {
      color: #ffffff;
    }
    p {
      font-size: 18px;
    }
  }
  .container_footer .social_net .social_net_black {
    list-style: none;
    text-align: center;
  }
  .social_net_black > li,
  .social_net > li {
    display: inline-block;
    padding: 2%;
  }
  .social_net_black > li {
    padding: 0.5%;
  }
  .nets {
    width: 40px;
  }
  .nets_black {
    width: 30px;
  }
  /**********************************************/
  .container_foot_map_dir {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3%;
    .map_sites {
      flex-grow: 2;
    }
    .subTitle_enlace {
      font-size: 1rem;
      margin-bottom: 20%;
    }
  }
  .items_map_site {
    /* list-style: none; */
    padding: 0;
    li {
      margin-bottom: 10px;
    }
    li > a {
      text-decoration: none;
      color: #ffeeee;
    }
  }
  .direction iframe {
    width: 100%;
    height: 200px; /* Ajusta según tus necesidades */
  }
  .post-container {
    background-color: #f18595;
    text-align: center;
    padding: 1%;
  }
  /********************Landing-Java*****************************************/
  
  .body_landing{
    margin: 4%;  
    background-color: #ffeeee;
    display: flex;

    height: 100%;  
    border-radius: 85px;
    padding:50px ;
  }
   
  .promo-container {
    
    width: 100%;
    max-width: 90%;
    overflow: hidden;
   
  }
   
   
  .wave-background {
    background: linear-gradient(364deg, #ffd1dc, #ff004e);  
   
    padding: 7% 10%;
    position: relative;
    color: white;
    text-align: center;
  }
   
  .title {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 auto;
    max-width: 600px;
  }
   
  /* Cuadro de promoción */
  .promo-box {
    background-color: white;
    border-radius: 20px;
    color: #ff004e;
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   
  .promo-text {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
   
  .promo-percentage {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }
   
  .promo-conditions {
    font-size: 0.8rem;
    text-align: center;
    color: #555;
  }
   
  /* Imagen del producto */
  .product-image {
    

    border-radius:85px;
  }

  .locura{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .logos{
    width: 100%;
  }
  

  /* @media (max-width:480px){
    .body_landing{
      margin: 4%;  
      height: 100%;  
      border-radius: 30px;
      padding:20px ;
    }
    .title{
      font-size: 2.8rem;
    }
    .product-image {
      width: 100%;
      border-radius:85px;
      border: 1px solid black;
      box-shadow: 0 20px 20px 0 #520177;
    }
    .promo-text {
      font-size: 1.5rem;
    }
     
    .promo-percentage {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      margin: 10px 0;
    }
     
    .promo-conditions {
      font-size: 1.2rem;
      margin-bottom: 5px;

    }

  } */

  @media (max-width: 576px) {
    /* Applies to small devices (landscape phones, tablets) */
    .header {
      position: static;
    }

    .pre-container{
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .header .container{
      display: flex;
      flex-direction: column;
      align-items: center;
    
      .logo img {
        width: 25%;
        margin: 0 auto;
        border-radius: 30%;
      }

    }

    .menu {
      width: 100%;
    }
    .item{
      display: flex;
      align-items: center;
      flex-direction: column ;
    }

    .item > li {
      display: block;
      padding: 0% 4%;
      font-size: 22px;
      width: 70%;
      border: 1px solid #e0e0e0;
      border-radius: 15px;
      box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
      margin: 5px 0;
    }

  .item > li :hover {
      color: #ff004e;
      font-size: 20px;
      
  }
  
  .up{
    width: auto;
    padding: 25px;
  }


  .img_people{
    width: 40%;
    margin: 0;
  }
  .subTitle_services{
    width: 50%;
  }

  .orden_service{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .service{
    width: 80%;
    max-width: 80%;
    max-height: 100%;
    margin: 10px 0 ;
    padding: 10px 5px;
  }

  .container_services {
    clip-path: none;
  }

  .form{
    width: 80%;
  }

  .container_history {
    clip-path: none;
  }

  .img_women {
    width: 40%;
    border-radius: 50%;
    margin: 0;
    float: right;
  }

  .container_foot_map_dir{
    flex-direction: column;
    align-items: center;
  }

  .map_site{
    width: 100%;
    text-align: center;
    
    .subTitle_enlace{
      margin: 0 0 10px 0;
    }
  }

  .direction{
    width: 100%;
    padding: 4%;
  }

}
  @media all and (min-width: 577px) and (max-width: 768px) {
    /* Applies to medium devices (tablets) */
    body {
      font-size: 1.2rem; /* Can further adjust font size for medium screens */
    }
  }
  
  @media all and (min-width: 769px) and (max-width: 992px) {
    /* Applies to large devices (desktops) */
    body {
      font-size: 1.3rem; /* Customize font size for larger screens */
    }
  }
  
  @media all and (min-width: 993px) and (max-width: 1200px) {
    /* Applies to extra large devices (large desktops) */
    body {
      font-size: 1.4rem; /* You can adjust font size for extra large screens */
    }
  }
  
  @media all and (min-width: 1201px) and (max-width: 1400px) {
    /* Applies to extra extra large devices (very large desktops) */
    body {
      font-size: 1.5rem; /* Optional adjustment for very large screens */
    }
  }