/*

 #A60815, 
 #BF0F30, 
 #F2F2F2,
 #402319,
 #D9ADA9,
 #4b4949
 

*/

*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container_header{
    width:100%;
    height: auto;
    background-color: #402319;
    background-image: linear-gradient(10deg, #4023198a, #A60815ab, #4b49499c ),
    url(../img/manos-tocandose.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0.1px;
    padding-bottom: 4%; 
}

.menu{
    text-align: right;
    margin-top: 1%;
    margin-right:2%;
}

nav a{
    color: #f2f2f2;
    text-decoration: none;
}

hr{
    border-color: #3e020254;
}

.menu > li{
    display: inline-block;
    padding: 1.2% 2.2%;

    background-color: #A60815;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 10px;
    color: #f2f2f2;
    font-size: 22px;
}

.menu > li:hover{
    background-color: #BF0F30;
    border: 1px solid #402319;
}

.menu .btn_contacto{
    background-color: #BF0F30;
    border: 1px solid #402319;
}

.menu .btn_contacto > a {
    text-decoration: underline;
}

.title{
    text-align: center;
    font-size: 3.5em;  /* tamaño de la fuente que es -> 16px */
    margin-top: 1%;
    color: #f2f2f2;
}

.fm_contact{
    width: 50%;
    height: auto;
    margin: 2% auto;
    border: 5px solid #402319;
    /*background-image: linear-gradient(10deg, #402319db,#a60815);*/
    border-radius: 10px;
    padding: 2% 1%;
    text-align: center;

    max-width: 500px;
}

.fm_contact > hr {
    margin-bottom: 3%;
}

.title_form {
    margin: 2% 0;
    text-align: center;
    color: #a60815;
}

.fm_contact > input,label, button {
    display: inline-block;
    width: 80%;
    margin: 1% 0;
    font-size: 22px;
  }

.fm_contact > input, .msn {
  padding: 10px 2px;
  border: none;
  border-bottom: 2px solid #402319;
  outline: none;
  background-color: #fce3e371;
}

.msn {
  width: 80%;
}

.fm_contact > label {
  text-align: left;
  padding: 5px;
}

input:focus, .msn:focus {
  border-bottom: none;
  border-right: 2px solid #402319;
  background-color: #ffffff28;
}

.btn_enviar, .btnRegistrar, .btnCancelar {
  width: 30%;
  margin-top: 2%;
  padding: 10px 20px;
  background: #a60815;
  /* background: linear-gradient(top, #A60815, #BF0F30);    
    background: linear-gradient(to bottom, #BF0F30, #D9ADA9);*/
  border-radius: 10px;
  font-size: 20px;
  border: solid #402319 3px;
  color: #f2f2f2;
}

.btn_enviar:hover {
  background: #bf0f30;
  text-decoration: underline;
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    background-image: linear-gradient(10deg, #402319, #bf0f30, #a60815 60%);
    padding: 2%;
  }
  .foot {
    display: inline;
    margin: 3%;
    text-align: center;
  }

  .copy {
    width: 30%;
    height: auto;
    color: #f2f2f2;
    line-height: 40px;
  }

  .my_nets, .map {
    width: 30%;
    height: auto;
  }
   
  .foot .social_net {
    list-style: none;
  }
  .title_about {
    color: #f2f2f2;
    margin-bottom: 1%;
    padding: 1%;
  }
  .title_nets {
    color: #f2f2f2;
    margin-bottom: 3%;
    padding: 1%;
  }
  .social_net > li {
    padding: 1%;
  }
  .nets {
    width: 8%;
  }
  .title_ubi {
    color: #f2f2f2;
    margin-bottom: 1%;
    padding: 1%;
  }
  .foot > iframe {
    width: 100%;
    height: auto;
    border: 0;
  }
  .credits {
    width: 100%;
    padding: 2%;
    background-color: #402319;
    text-align: right;
    color: #f2f2f2;
  }
  .credits > a {
    color: #f2f2f2;
    text-decoration: none;
  }
  .card {
    width: 60%;
    margin: 5% auto;
    border: 2px solid #402319;
    background-color: #f2f2f2;
    text-align: center;
  }
  .title-card {
    font-size: 24px;
    padding: 2%;
  }
  .data-card,
  .text-mail,
  .text-msn {
    font-size: 20px;
    color: #402319;
    padding: 1% 0;
  }
  .text-telefono {
    font-size: 22px;
    padding: 2% 0;
  }
  .btnRegistrar:hover,
  .btnCancelar:hover {
    background: #bf0f30;
    text-decoration: underline;
  }
  .botones-accesibilidad {
    position: fixed;
    top: 50%;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
    transform: translateY(-50%);
  }
   
  .botones-accesibilidad button {
    background-color: #4b4949;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
  }
   
  .botones-accesibilidad button:hover {
    background-color: #bf0f30;
  }
   
  body.contraste-alto {
    background-color: black !important;
    color: yellow !important;
  }
   
  body.contraste-alto a {
    color: cyan !important;
  }
  .modo-contraste {
      filter: invert(1) hue-rotate(180deg);
      background-color: black !important;
      color: white !important;
  }
   
  .boton-accesibilidad {
      position: fixed;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
   
  .boton-accesibilidad button {
      padding: 1.5%;
      font-size: 2rem;
      cursor: pointer;
      border: none;
      background-color: #4b4949;
      color: white;
      border-radius: 5px;
  }
   
.boton-accesibilidad button:hover {
      background-color: #bf0f30;
}
   
   
.alerta {
    width: 30%;
    height: auto;
    background: #bf0f30;
    position: fixed;
    top: calc(100vh - 65%);
    left: calc(100vw - 65%);
    text-align: center;
    border: 2px solid #402319;
    padding: 5px;
}

.textAlerta {
    width: 100%;
    margin-top: 12%;
    margin-bottom: 10%;
    color: aliceblue;
    font-size: 20px;
}

.btnAlerta {
    width: 40%;
    height: auto;
    margin-right: 1%;
    margin-bottom: 3%;
    background: #402319;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #f2f2f2;
    padding: 2%;
}


@media (max-width: 450px){
  
  .menu{
    text-align: center;
    margin: 1%;
  }

  .menu > li{
    display: flex;
    flex-direction: column;
    margin: 1% 10%;
  }

  hr{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .title{

    /* font-size: 2.6em;  tamaño de la fuente que es -> 16px */
    margin-top: 2%;
    font-size: 2.4em;
  }

  .fm_contact{
    width: 90%;
    height: auto;
    margin: 2% auto;
    border: 5px solid #402319;
    /*background-image: linear-gradient(10deg, #402319db,#a60815);*/
    border-radius: 10px;
    padding: 2% 1%;
    text-align: center;
  }

  .btn_enviar, .btnRegistrar, .btnCancelar {
    width: 80%;
  }
  
  .footer {
    width: 100%;
    height: auto;

    display: block;

    ul{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .copy {
    line-height: 20px;
  }

  .nets {
    width: 27px;
  }

  .title_about {
    margin: 3% 0;
    padding: 1%;
  }

  .title_nets {
    margin: 3% 0;
    padding: 1%;
  }

  .title_ubi {
    margin: 3% 0;
    padding: 1%;
  }

}

 @media (min-width:451px) and (max-width:719px){ /*@media (min-width:375px) and (max-width:719px)  movil medio 2.8 */

  .menu{
    text-align: center;
    margin: 1%;
  }

  .menu > li{
    display: inline-block;
    padding: 1.2% 2.2%;

    background-color: #A60815;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 10px;
    color: #f2f2f2;
    font-size: 20px;
}

  hr{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .title{

    /* font-size: 2.6em;  tamaño de la fuente que es -> 16px */
    margin-top: 2%;
    font-size: 2.4em;
  }

  .fm_contact{
    width: 90%;
    height: auto;
    margin: 2% auto;
    border: 5px solid #402319;
    /*background-image: linear-gradient(10deg, #402319db,#a60815); */
    border-radius: 10px;
    padding: 2% 1%;
    text-align: center;
  }

  .btn_enviar, .btnRegistrar, .btnCancelar {
    width: 80%;
  }
  
  .footer {
    width: 100%;
    height: auto;

    display: block;

    ul{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .copy {
    line-height: 20px;
  }

  .nets {
    width: 27px;
  }

  .title_about {
    margin: 3% 0;
    padding: 1%;
  }

  .title_nets {
    margin: 3% 0;
    padding: 1%;
  }

  .title_ubi {
    margin: 3% 0;
    padding: 1%;
  }

} 

@media (min-width:720px) and (max-width:1365px){ /* smartphone grande 3.1 */

  .menu{
    text-align: center;
    margin: 1%;
  }

  .title{

    /* font-size: 2.6em;  tamaño de la fuente que es -> 16px */
    margin-top: 2%;
    font-size: 2.8em;
  }
}

@media (min-width:1366) and (max-width:1439px){ /* ordenador de portatil medio 3.3 */


}

@media (min-width:1440px) and (max-width:1919px){ /* ordenador de escritorio medio 3.5 */


}

@media (min-width:1920px) { /* pc de escritorio grande 3.5 */


}


/*
  medidas de la pantalla 




*/